/* stylelint-disable order/properties-alphabetical-order */
* {
  font-family: var(--fontNotoSans);
}

.container {
  background-color: #344d40;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLogin {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightLogin {
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 65%;
  gap: 10px;
}

.cardLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 177, 138);
  border-radius: 20px;
  width: 60%;
  padding: 30px 35px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.cardLogin h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.formLogin input {
  border: none;
  border-radius: 10px;
  padding: 15px;
  outline: none;
  color: rgb(52, 78, 65);
  background: rgb(218, 215, 205);
  box-shadow: 0 0.5rem 1rem rgba(99, 94, 94, 0.5);
  text-transform: uppercase;
}

.formLogin input::placeholder {
  color: rgb(52, 78, 65);
}

.buttonLogin {
  border: none;
  border-radius: 10px;
  padding: 15px;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(58, 90, 64);
  box-shadow: 0 0.5rem 1rem rgba(99, 94, 94, 0.5);
  cursor: pointer;
  width: 65%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14pt;
  font-weight: 800;
}

.buttonLogin:disabled {
  background: rgb(58, 90, 64, 0.5);
  cursor: not-allowed;
}
